<h2>Template</h2>
<hr>
<ul class="list-group">
    <li class="list-group-item"
        *ngFor="let rutas of templateMenu"
        [routerLink]="rutas.ruta"
        routerLinkActive="active">
        {{ rutas.texto }}
    </li>
</ul>

<h2 class="mt-3">Reactive</h2>
<hr>
<ul class="list-group">
    <li class="list-group-item"
        *ngFor="let rutas of reactiveMenu"
        [routerLink]="rutas.ruta"
        routerLinkActive="active">
        {{ rutas.texto }}
    </li>
</ul>

<h2 class="mt-3">Reactive</h2>
<hr>
<ul class="list-group">
    <li class="list-group-item"
        *ngFor="let rutas of authMenu"
        [routerLink]="rutas.ruta"
        routerLinkActive="active">
        {{ rutas.texto }}
    </li>
</ul>